<div class="d-flex flex-row mb-4 mx-0">
  <div class="vr my-2"></div>
  <div class="card flex-fill mx-3 px-0">
    <div class="d-flex flex-column flex-sm-row justify-content-between card-header bg-primary p-2 my-0">
      <h6 class="card-title float-start text-white my-auto">{{author.username}}</h6>
      <span class="text-white float-start float-sm-end my-auto">{{date}}</span>
    </div>
    <div class="card-body">{{content}}</div>
  </div>
</div>
