<div class="row form-floating m-4">
  <input class="form-control" id="inputPasswordConfirm" type="password" autocomplete="current-password"
    placeholder="Confirm Password" required>
  <label for="inputPasswordConfirm">Confirm Password</label>
  <div class="invalid-feedback" id="confirmPasswordFeedback">Confirm your password!</div>
</div>
