<div class="row form-floating mb-4 mx-4">
    <input class="form-control" id="inputUsername" type="text" autocomplete="username" placeholder="Username"
        minlength="4" maxlength="32" required>
    <label for="inputUsername">Username</label>
    <div class="invalid-feedback" id="usernameFeedback">Enter your username!</div>
</div>
