<div class="row form-floating mb-4 mx-4">
    <input class="form-control" id="inputPassword" type="password" autocomplete="current-password" minlength="8"
        placeholder="Password" required>
    <label for="inputPassword">Password</label>
    <div class="invalid-feedback" id="passwordFeedback">Enter your password!</div>
</div>
