<div class="row form-floating mx-3 mb-3">
    <input class="form-control" id="inputTitle" type="text" placeholder="Title" minlength="1" required>
    <label for="inputTitle">Title</label>
    <div class="invalid-feedback">Please enter a title for your post!</div>
</div>
