<div class="card my-4">
  <h5 class="card-header text-bg-primary">Register</h5>
  <div class="card-body">
    <form class="needs-validation" id="registerForm" novalidate>
      {{> form-username}}
      {{> form-password}}
      {{> form-password-confirm}}
      <button type="submit" class="btn btn-primary mx-4">Register</button>
    </form>
  </div>
</div>
